@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 0% 95%;
    --foreground: 45 0% 10%;
    --card: 45 10% 98%;
    --card-foreground: 45 0% 15%;
    --popover: 45 0% 95%;
    --popover-foreground: 45 95% 10%;
    --primary: 45 100% 60%;
    --primary-foreground: 45 95% 10%;
    --secondary: 45 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 7 10% 85%;
    --muted-foreground: 45 0% 35%;
    --accent: 7 10% 80%;
    --accent-foreground: 45 0% 15%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 45 0% 90%;
    --border: 45 20% 50%;
    --input: 45 20% 21%;
    --ring: 45 100% 51.4%;
    --radius: 0.4rem;
  }
  .dark {
    --background: 45 10% 10%;
    --foreground: 45 0% 90%;
    --card: 45 0% 10%;
    --card-foreground: 45 0% 90%;
    --popover: 45 10% 5%;
    --popover-foreground: 45 0% 90%;
    --primary: 45 100% 51.4%;
    --primary-foreground: 45 95% 10%;
    --secondary: 45 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7 10% 21%;
    --muted-foreground: 45 0% 60%;
    --accent: 7 10% 21%;
    --accent-foreground: 45 0% 90%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 45 0% 90%;
    --border: 45 20% 21%;
    --input: 45 20% 21%;
    --ring: 45 100% 51.4%;
    --radius: 0.4rem;
  }
}
